:root {
    --bg-hero:#19283f;
    --p:#a8b9c0;
    --h:#1a2940;
    --yelow:#ffc501;
    --btn:#ff3150;
    --sky:#33d1cc;
    --bg:#eff7fa;
    
}
* {
    font-family: 'Roboto', sans-serif;
}
body {
    position: relative;
  
}
form.login {
    position: absolute;
    top:100px ;
    left:50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #fff;
    width: 50%;
    margin: 10px auto;
    padding: 20px;
}
form.hidden {
    display: none;
}
@media (max-width:767px){
    form.login{
        width: 70%;
    }
}
@media (max-width:500px){
    form.login{
        width: 90%;
    }
}

header{
    z-index:-999;
}
.hero{
   //* z-index: -50;*/
}
p{
    font-size:15pt;
    font-weight: 400;
    color: var(--p);
}
h3 {
    font-size: 35pt;
    font-weight: 500;
    color:var(--h);
}
h6{
    font-size: 20pt;
    font-weight: 400;    
}
button {
    width: 200px;
    height: 50px;
    color: var(--yelow);
    background-color: var(--btn);
    border-radius: 10px;
    border: none;
    outline: none;
}
button a {
    color:var(--yelow);
}
.container > i {
    font-size: 35px;
    color: var(--yelow);
    margin-bottom: 50px;
}
.light {
    font-weight: 300;
}
.container hr {
    width: 150px;
    border-color: var(--sky);
    margin: 20px auto;
}
/* start header  */
header {
    background-color: var(--bg-hero);
    padding-bottom: 120px;
    height: 500px;
}
.navbar-light .navbar-nav .show > .nav-link {
    color:var(--sky);

}
 .navbar-light .navbar-nav .active > .nav-link{
    color:var(--sky);

 }
  .navbar-light .navbar-nav .nav-link.show{
    color:var(--sky);

  } 
  .navbar-light .navbar-nav .nav-link.active {
    color:var(--sky);

  }
  .navbar-light .navbar-nav .nav-link:hover{
    color:var(--sky);

}
.nav-link,.nav-link{
    transition: all 0s ;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: 400;
    color:var(--p);
    font-size: 15pt;
}
.navbar-light .navbar-nav .nav-link i {
    color:var(--sky)
}
.navbar-light .navbar-nav .login {
    color:var(--yelow);
    background-color: var(--btn);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
}
.navbar-brand img {
    width: 80px;
}
@media (max-width:991px){
    header .collapse {
        background-color: #222;
        z-index: 999;
        padding-left: 20px;
        padding-bottom: 20px;

    }
}
header .hero {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);}
header .hero h1 {
    font-weight: 300;
    color:#f0f8fb;

}
ul {
    color:var(--sky);
    margin-top: 10px;
    font-size: 30px;
}
/* end   header  */
/* start services  */
.services {
    padding-top: 50px;
    padding-bottom: 50px;

}
.services .service h1 {
    font-size: 80px;
    color: var(--bg);
    margin-bottom: -25px;
}
.services .service i {
    font-size: 40px;
    color: var(--sky);
}
.services .service h6 {
    color: var(--yelow);
}
/* end  services  */
/* start portifolio  */
.portifolio {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: var(--bg);
}
.portifolio ul {
    list-style: none;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 80%;
    
}
.portifolio ul li {
    color: var(--p);
    font-size: 15pt;
    font-weight: 400;
    cursor: pointer;
    padding:10px 20px;
    margin-bottom: 20px;
}
.portifolio ul li.active,.portifolio ul li:hover {
    color:var(--yelow);
    background-color: var(--btn);
    border-radius: 10px;
}
@media (max-width:767px) {
    .portifolio ul li {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
.portifolio .project {
    height: 200px;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: black;
    margin-bottom: 20px;
}
.portifolio .project h6 {
    color: white;
}
.portifolio .project p {
    color: var(--h);
}
.portifolio .project:hover {
    background-color: var(--sky);

}
.portifolio .project .hidden{
    display: none;
}
.portifolio .project:hover .hidden {
    display: block;
}
.portifolio .row >.hidden {
    display: none;
}
/* end  portifolio  */
/* start about-us  */
.about-us {
    padding-top: 50px;
}
.about-us .container > .light {
    width: 60%;
    margin-bottom: 50px;
} 
@media (max-width:767px){
    .about-us .container > .light{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
.about-us .container .content .light {
    padding-left: 20px;
    line-height: 1;
}


.about-us .container .image img {
    width: 100%;
    height: 400px;
} 
/* end  about-us  */
/* start ourteams */
.ourteams {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--bg);
}
.ourteams h3{
    color: var(--yelow);
    margin-bottom: 20px;
}
.ourteams .container>.light {
    margin-bottom: 50px;
    width: 90%;
}
.ourteams .box {
    background-color: white;  
    height: 400px;
    margin-bottom: 20px;

}
.ourteams .box .image {
        height: 150px;
}
.ourteams .box h6 {
    background-color: var(--sky);
    color: white;
    margin-bottom: 20px;    
}
.ourteams .box p {
    line-height: 1.2;
    
}
/* end  ourteams */
/* start advertise */
.advertise {
    background-color: var(--bg-hero);
    padding:130px 20px 100px;
 
}
.advertise h3 {
    color:white;
}
.advertise p {
    margin-bottom: 30px;
}
/* end advertise  */
/* START BLOGS  */
.blogs {
    padding-top:50px;
    padding-bottom: 50px;

}
.blogs .row {
    margin-bottom:50px ;
}
.blogs hr {
    margin-bottom: 60px;
}
.blogs .box {
    margin-bottom: 20px;
}
.blogs .blog {
    height: 100px;
    background-color: var(--bg);
}
.blogs .box h6 {
    color: var(--h);
}
.blogs .hidden {
    display: none;
}
/* END  BLOGS  */
/* start contact  */
.contact {
    background-color: var(--yelow);
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact h6 {
    color: var(--h);
    display: inline;
}
.contact form {
    

} 
.contact form .text {
    padding:10px;
    border:none;
    border-bottom: 1px solid white;
    background-color: var(--yelow);
    width: 40%;
    margin-left: 20px;
    margin-bottom: 15px;
}
.contact form .btn {
    color: var(--yelow);
    background-color: var(--bg-hero);
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 20px;
    width: 120px;

}
.contact form .text::placeholder {
    color:white;
    font-size: 15px;
}
@media (max-width:990px) {
    .contact form .text {
        width: 70%;
    }
}
@media (max-width:550px) {
    .contact form .text {
        width: 100%;        
        margin-left:0
    }

}
/* end  contact  */
/* start footer  */
footer {
    background-color: var(--bg-hero);
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .first p {
    font-size: 13pt;
}
footer .first p:first-child{
    margin-bottom: 80px;
}
footer .first span {color:var(--sky)}
footer .first .copyright span{color:var(--yelow)}
footer .second p,footer .third p,footer .fourth p:first-child {color: #f0f8fb;}
footer .second li a,footer .third li a,footer .fourth p :nth-child(2) {
    font-size: 13pt;
    color: var(--p);
    font-weight: 400;
   
}
footer ul {
    list-style: none;
    padding: 0;
}
footer .fourth button {width: 100%;border-radius: 20px;margin-top: 40px;}
footer .fourth a {
    color: white;
    font-size: 13pt;
}

/* end  footer  */